.user {
  height: calc(100vh - 300px);
  &__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 30%;
    & input {
      width: 100%;
    }
  }
  &__item {
    width: 100%;
  }
}
