$background-color: rgb(0, 56, 160);
$color-gray-1: #969696;
$color-white: #ffffff;
$color-black: #000000;
$shadow-nav: rgba(255, 115, 0, 0.13);
$color-primary-1: rgba(14, 178, 248, 1);
$color-primary-2: rgba(0, 250, 87, 1);
